<html>
<head>
    <title>MIBG game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/base.css">
</head>
<body>
    <div class="page">
        <h1>Бизнес-игра </h1><h1>"Деньги и влияние"</h1>

        <div class="section">
            <button type="button" onclick="createLobby()">Создать лобби</button>
        </div>

        <div class="section">
            <label for="lobbyId">Id лобби::</label>
            <input type="text" id="lobbyId" autocomplete="off" value=""/>
            <button type="button" onclick="joinLobby()">
                Присоединиться к лобби
            </button>
        </div>
    </div>

    <script type="module" src="/static/scripts/homeMain.js"></script>
</body>
</html>
