<html>
<head>
    <title>Лобби {{ lobbyId }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/popUp.css">
    <link rel="stylesheet" href="/static/styles/playerPage.css">
    <link rel="stylesheet" href="/static/styles/upMenu.css">
</head>
<body>
    <div class="page">
        <div id="upMenu">
            <div class="upMenuTop">
                <div class="upMenuLeft">
                    <span id="localName"></span>
                </div>

                <div class="upMenuRight upperRight" id="upperRight">
                    <label class="upMenuItem">
                        Роль: <span id="localRole"></span>
                    </label>

                    <div id="localBalances" class="upMenuItem">
                        <label>
                            Ваш баланс: <span id="localBalance"></span>
                        </label>
                    </div>

                    <label class="upMenuItem">
                        Очки влияния: <span id="localInfluence">0</span>
                    </label>

                    <div id="timers" class="upMenuItem">
                        <span id="gameTimer"></span>
                    </div>
                </div>
            </div>

            <div class="menu" id="buttonsMenu">
                <button type="button" id="assetsButton">Активы</button>
                <button type="button" id="obligationsButton" class="hidden">Обязательства</button>
                <button type="button" id="financesButton" class="hidden">Финансы</button>
                <button type="button" id="managmentButton" class="hidden">Управление</button>
                <button type="button" id="messagesButton">Сообщения</button>
            </div>
        </div>
        <div id="assets" class="submenu">
            <div id="otherPlayers" class="section">
            </div>

            <div id="moneySender" class="section">
                <label for="balances">Откуда отправляем
                    <select name="счета" id="senderBalances">
                    </select>
                </label>
                <label for="balances">Куда отправляем
                    <select name="счета" id="balances">
                    </select>
                </label>

                <label for="moneyAmount">Сумма
                    <input type="number" id="moneyAmount" autocomplete="off"/></label>

                <button type="button" onclick="sendMoney()">Отправить деньги</button>
            </div>

            <div id="luxuries" class="section">
                <div id="luxuryByer">
                    <select id="luxurySelector">
                    </select>
                    <button type="button" onclick="buyLuxury()">Купить</button>
                </div>
                <div id="luxuryList">
                    Мои роскоши:
                </div>
            </div>

            <div id="property" class="section">
                Мои владения:

            </div>

            <div id="xCompanyAssets" class="section buttonRow">
                <div> Компания Х </div>
            </div>
        </div>
        <div id="obligations" class="submenu">
            <h2> Кредиты: </h2>
			<div id="obligationLoans">
			</div>

            <h2> Депозиты: </h2>
		    <div id="obligationDeposits">
            </div>
        </div>
        <div id="messenger" class="submenu">
            <div id="chatSelector">
            </div>

            <div id="chatCanvas" class="chat">
            </div>

            <div id="messageSender">
                <input type="text" id="messageInput" autocomplete="off"/>

                <button type="button" onclick="sendMessage()">Отправить</button>
            </div>
        </div>
        <div id="finances" class="submenu">
            <h2>Выдать кредит</h2>
            <div id="loanGiver" class="buttonRow section">
                <label>Счет отправки
                    <select name="счета" id="borrowerBalances">
                    </select>
                </label>
                <label>Сумма
                    <input type="number" id="loanSum" autocomplete="off"/></label>
                <label>Ставка
                    <input type="number" id="loanInterest" autocomplete="off"/>
                </label>
                <label>Дедлайн</label>
                    <input type="number" id="loanTimeMin" min="0" max="59" value="0" autocomplete="off"/>
                    <input type="number" id="loanTimeSec" min="0" max="59" value="0" autocomplete="off"/>
            </div>
            <button type="button" onClick="giveLoan()" >Выдать долг</button>
            <h2>Зарегистрировать депозит</h2>
            <div id="deposit_giver" class="section buttonRow">
                <label>Счет отправки
                    <select name="счета" id="depositBalances">
                    </select>
                </label>
                <label for="depositSum">Сумма
                    <input type="number" id="depositSum" autocomplete="off"/></label>
                <label for="depositInterest">Ставка
                    <input type="number" id="depositInterest" autocomplete="off"/></label>
                <label>Дедлайн</label>
                    <input type="number" id="depositTimeMin" min="0" max="59" value="0" autocomplete="off"/>
                    <input type="number" id="depositTimeSec" min="0" max="59" value="0" autocomplete="off"/>
            </div>
            <button type="button" onClick="giveDeposit()">Регистрация депозита</button>
            <h2>
                Кредиты:
            </h2>
	    <section id="financeLoans">
	    </section>
            <h2>
                Депозиты:
            </h2>
	    <section id="financeDeposits">
	    </section>
        </div>
        <div id="managment" class="submenu">
            <div id="questionController">
                <select id="playerQuestionSelector">
                </select>
                <button type="button" onClick="askQuestion()">Задать вопрос</button>
            </div>
            <div id="eventController">
                <select id="playerEventSelector">
                </select>
                <button type="button" onClick="startPersonalEvent()">Событие игрока</button>
                <button type="button" onClick="startGlobalEvent()">Черный лебедь</button>
            </div>
            <div id="companyRegister" class="section buttonRow">
            </div>
            <div id="xCompanyManagment" class="section buttonRow">
                <div> Компания Х </div>
            </div>
        </div>
        <div class="popup" id="popups">
            <div class="popuptext page hidden" id="eventOverlay">
                <div id="eventDescription">
                </div>
                <div id="eventEffect">
                </div>
                <button type="button" onclick="hideEvent()">Ок</button>
            </div>

            <div class="popuptext page hidden" id="questionOverlay">
                <button id="hideQuestionButton" type="button" onclick="hideQuestion()">Ок</button>
                <div id="answerResult">
                </div>
                <div id="questionText">
                </div>
                <input type="number" id="questionAnswer" autocomplete="off"/>
                <button id="answerQuestionButton" type="button" onclick="answerQuestion()">Отправить ответ</button>
            </div>

            <div class="popuptext page hidden" id="approvalOverlay">
                <div id="questionApprovalText">
                </div>
                <div id="questionAnswer">
                </div>
                <button id="aprroveQuestionButton" type="button" onclick="approveAnswer()">Правильный ответ</button>
                <button id="disaprroveQuestionButton" type="button" onclick="disapproveAnswer()">Неправильный ответ</button>
            </div>

            <div class="popuptext page hidden" id="registrationOverlay">
                <label>
                    Введите ваше имя:
                    <input type="text" id="nameText" autocomplete="off"/>
                </label>
                <button id="registerPlayerButton" type="button" onclick="registerPlayer()">Подтвердить</button>
                <label id="registerPlayerText"></label>
            </div>

            <div class="popuptext page hidden" id="votingOverlay">
                <span id="roundText">
                    Раунд голосования:
                    <span id="roundNumberText"></span>
                </span>
                <label>Выберите, кто будет политиком:</label>
                <select name="newPolitician" id="votingOptions"></select>
                <button id="voteButton" type="button" onclick="vote()">Проголосовать</button>
            </div>

            <div class="popuptext page hidden" id="chooseBankerOverlay">
                <span id="bankerChoosingText"></span>
                <select name="newBanker" id="bankerOptions"></select>
                <button id="chooseBankerButton" type="button" onclick="chooseBankerAndStartGame()">Проголосовать</button>
            </div>
            <div class="popuptext page hidden" id="errorOverlay">
                <h1>
                    Не удалось загрузить лобби
                </h1>
            </div>
            <div class="popuptext page hidden" id="pauseOverlay">
                <h1>
                    Пауза
                </h1>
            </div>
            <div class="popuptext page hidden" id="testServerOverlay">
                <button id="chooseJoblessButton" type="button" onclick="chooseJobless()">Безработный</button>
                <button id="choosePoliticianButton" type="button" onclick="choosePolitician()">Политик</button>
                <button id="chooseBankerButton" type="button" onclick="chooseBanker()">Банкир</button>
            </div>
        </div>
    </div>

    <script>
        window.lobbyId = "{{ lobbyId }}"
    </script>

    <script type="module" src="/static/scripts/lobbyMain.js"></script>
</body>
</html>
