<html>
<head>
    <title>Лобби {{ lobby_id }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/pop_up.css">
    <link rel="stylesheet" href="/static/styles/player_page.css">
</head>
<body>
    <div class="page">
        <span id="name"></span>
        <div class="upper_right">
            <label>Роль: <span id="role"></span></label>
            <label>Ваш баланс: <span id="balance"></span></label>
            <label>Очки влияния: <span id="influence">0</span></label>
        </div>

        <div class="menu">
            <button type="button" id="assets_button">Активы</button>
            <button type="button"id="obligations_button"class="hidden">Обязательства</button>
            <button type="button hidden"id="finances_button"class="hidden">Финансы</button>
            <button type="button hidden"id="managment_button"class="hidden">Управление</button>
            <button type="button"id="messages_button"class="">Сообщения</button>
        </div>
        <div id="assets" class="submenu">
            <div id="other_players" class="section">
            </div>

            <div id="money_sender" class="section">
                <label for="balances">Счет отправки
                    <select name="счета" id="balances">
                    </select>
                </label>

                <label for="money_amount">Сумма
                    <input type="number" id="money_amount" autocomplete="off"/></label>

                <button type="button" onclick="send_money()">Отправить деньги</button>
            </div>

        </div>
        <div id="obligations" class="submenu">
            <h2> Кредиты: </h2>

            <span> 1) 100pt 01:00</span>
            <button type="button">Оплатить долг</button>
            <span> 2) 1000pt 01:00</span>
            <button type="button">Оплатить долг</button>
        </div>
        <div id="messages" class="submenu">
            <h1> Сообщения: </h1>

            <span> Чат 1</span>
        </div>
        <div id="finances" class="submenu">
            <h2>Выдать кредит</h2>
            <div id="loan_giver" class="button_row section">
                <label>Счет отправки
                    <select name="счета" id="credit_player_balances">
                    </select>
                </label>
                <label for="loan_amount">Сумма
                    <input type="number" id="loan_amount" autocomplete="off"/></label>
                <label for="loan_interest">Ставка
                    <input type="number" id="loan_interest" autocomplete="off"/></label>
                <label for="loan_time">Дедлайн
                    <input type="text" id="loan_time" autocomplete="off"/></label>
            </div>
            <button type="button">Выдать долг</button>
            <h2>Зарегистрировать депозит</h2>
            <div id="deposit_giver" class="section button_row">
                <label>Счет отправки
                    <select name="счета" id="deposit_player_balances">
                    </select>
                </label>
                <label for="deposit_amount">Сумма
                    <input type="number" id="deposit_amount" autocomplete="off"/></label>
                <label for="deposit_interest">Ставка
                    <input type="number" id="deposit_interest" autocomplete="off"/></label>
                <label for="deposit_time">Дедлайн
                    <input type="number" id="deposit_time" autocomplete="off"/></label>
            </div>
            <button type="button">Регистрация депозита</button>
            <h2>
                Кредиты:
            </h2>
            <section id="loans">
                Счет: Вася Дедлайн: 20:00 Ставка: 10% Сумма: 1999

                <button type="button">Закрыть долг</button>
                Счет: Петя Дедлайн: 20:00 Ставка: 10% Сумма: 1999

                <button type="button">Закрыть долг</button>
                <!-- <button type="button">Возместить ущерб</button> -->
            </section>
            <h2>
                Депозиты:
            </h2>
            <section id="loans">
                Счет: Петя Дедлайн: 20:00 Ставка: 10% Сумма: 1999

                <button type="button">Вернуть депозит</button>
            </section>
        </div>
        <div id="managment" class="submenu">
            <button type="button">Ввести новый налог</button>
            <div id="company_register" class="section button_row">
                <label>Игрок
                    <select id="player_companies_selector">
                    </select>
                </label>
                <label>Компания
                    <select id="companies_selector">
                    </select>
                </label>
            </div>
            <button type="button">Зарегистрировать компанию</button>
            <div id="land_register" class="section button_row">
                <label>Игрок
                    <select id="player_land_selector">
                    </select>
                </label>
                <label>Участок
                    <select id="land_selector">
                    </select>
                </label>
            </div>
            <button type="button">Зарегистрировать участок</button>
            <button type="button">Начать новое голосование</button>
        </div>
        <div class="popup" id="popups">
            <div class="popuptext page" id="registration_overlay">
                <label>
                    Введите ваше имя:
                    <input type="text" id="name_text" autocomplete="off"/>
                </label>
                <button id="add_player_button" type="button" onclick="add_player()">Подтвердить</button>
                <label id="add_player_text"></label>
            </div>

            <div class="popuptext page hidden" id="voting_overlay">
                <span id="round_text">
                    Раунд голосования:
                    <span id="round_number_text"></span>
                </span>
                <label>Выберете, кто будет политиком:</label>
                <div>
                    Время голосования: <span id="voting_timer">00:00</span>
                </div>
                <select name="new_politician" id="voting_options"></select>
                <button id="vote_button" type="button" onclick="vote()">Проголосовать</button>
            </div>

            <div class="popuptext page hidden" id="choose_banker_overlay">
            </div>
        </div>
    </div>

    <script>
        window.lobby_id = "{{ lobby_id }}"
    </script>

    <script type="module" src="/static/scripts/main.js"></script>
    <script type="module" src="/static/scripts/lobby/load_game_page.js"></script>
</body>
</html>
