<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>Player {{ player_id }} menu</h1>
        <form action="" onsubmit="sendMessage(event)">
            <label>Message: <input type="text" id="messageText" autocomplete="off"/></label>
            <button>Send</button>
        </form>
        <p id="stupid_text">Base value</p>
        <ul id='messages'>
        </ul>
        <script>
            var player_id = "{{ player_id }}";
            var ws = new WebSocket("ws://localhost:8000/players/{{ player_id }}");
            ws.onmessage = function(event) {
                document.getElementById("stupid_text").textContent = event.data;
                event.preventDefault()
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>
